<!--
'''
CST 205
Filter Website
Done by Matthew Lambert
5/14/18

Has all the upload functionality and displays the photo uploaded

-->
<h1>Photo Upload</h1>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.photo }}
    {% for error in form.photo.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}
    {{ form.submit }}
</form>

{% if file_url %}
<br>
<img src="{{ file_url }}">
{% endif %}
<p>Click <a href = "/">here</a> to go back to the home screen.</p>
<p>Click <a href = "/pictures">here</a> to view all your photos.</p>
