<!--
'''
CST 205
Filter Website
Done by Matthew Lambert
5/14/18

Meant to call the write function, but it doesn't work right now.
-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      {%set pic1  = image%}

    <img src = "{{ url_for('static',filename=pic1)}}" alt="photos"></img>
  <form action="" method="post">
    <input type="text" placeholder="message" name="text" value="{{
      request.form.text }}">
    <input type="text" placeholder="X val" name="x" value="{{
      request.form.x }}">
    <input type="text" placeholder="Y val" name="y" value="{{
      request.form.y }}">

    <input class="btn btn-default" type="submit" name = "Write" value="Write">
  </form>
  </body>
</html>
